html, body {
	min-height: 70%;
	height: 95%;
	display: flex;
        flex-direction: column; 
}


@media screen and (width >= 600px) {
	.wrapper {
		min-height: 100%;
		display: grid;
		grid-template-columns: 2fr 5fr 2fr;
		column-gap: 5%;
	}
	
	.wrapper-header {
		font-size: 2.5rem;
	}
	.wrapper-subheader {
		font-size: 2rem;
	}
	.wrapper-paragraph {
		font-size: 1.2rem;
	}
	button {
		all: unset;
		min-width: 100%;
		
	}
}

@media screen and (width < 600px) {
	.wrapper {
		min-height: 100%;
		diplay: grid;
		grid-template-columns: 1fr 2fr;
		column-gap 2%;
		font-size: 1rem;
	}
	.wrapper-header {
		font-size: 1.5rem;
	}
	.wrapper-subheader {
		font-size: 1rem;
	}
	.wrapper-paragraph {
		font-size: 0.2rem;
	}
	button {
		all: unset;
		min-width: 100%;
	}
}

#feed {
	min-width: 100%;
	min-height: 100%;
	flex-grow: 1;
}

.col1 {
	background-color: #90e0ef;
	padding-left: 1.5rem;
	float: left;
}

.col2 {
	background-color: #caf0f8;
	padding-left: 1.5rem;
	float: left;
}
